/* TODO: make the preview image center on small screens */

.poster {
  width: 150px;
  border-radius: 15px;
}

/* horizontal scrolling */
.movieTileList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.movieTile {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 21px;
}

/* featured film preview on top */
.featured-movie {
  position: relative;
  height: 70vh;
  border-radius: 20px;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url(../images/pay-the-ghost.jpg);
  background-size: cover;
  margin-bottom: 15vh;
}

.featured-movie-title {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}
